<body class="text-center">
  <div class="d-flex h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div class="inner">
        <h3>CNES Reader</h3>
        <nav class="nav justify-content-center">
        </nav>
      </div>
    </header>

    <main role="main">
      <p>Aplicação simples para consulta de CNES a partir de arquivo importado.</p>
      <p>
        <a class="nav-link active" [routerLink]="'cnes'" routerLinkActive="active" class="btn btn-lg btn-secondary">Ir Para Aplicação</a>
      </p>
    </main>

  </div>
</body>
<router-outlet></router-outlet>
